.weather-widget {
    position: relative;
    transition: all 1s ease;
    background-size: cover;
    background: url("https://images.unsplash.com/photo-1447244236161-6d00eb5bfaee?dpr=2&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=") no-repeat;
}


.weather-widget__current-weather {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr;
}


.weather-widget__info-card {
    max-height: 200px;
    height: 200px;
    color: white;
    font-size: 20px;
    font-family: "Arial Narrow";
    font-weight: 100;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.weather-widget--hidden .weather-widget__info-card {
    max-height: 1px;
    opacity: 0;
}

.weather-widget__hide-button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.weather-widget__ten-day {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.weather-widget__forecast_unit {
    flex-basis: 100px;
    height: 200px;
    color: white;
    font-size: 20px;
    font-family: "Arial Narrow";
    font-weight: 100;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);

}

