.todo-widget {
    background-color: #f4f4f4;
}

.todo-widget-content {
    padding: 10% 20%;
}

.todo-input {

}

.todo-input .select {
    /*width: 268px;*/
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
}

.todo-input input[type="text"] {
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
}

.todo-input button {
    padding: 5px;
    margin: 0;
    height: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}